.top-cart {
  height: 400px;
  background-image: url(img/topcart.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.heading-big {
  color: rgb(255, 255, 255);
  font-family: inherit;
  font-size: 64px;
  font-weight: 600;
  line-height: 70px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 127px;
}

.menu-mobile {
  display: none;
}

.cart {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
  margin-top: 64px;
}
.cart__item {
  border-top: 0.5px solid rgb(202, 205, 216);
  padding-top: 25px;
  padding-bottom: 32px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.cart__left {
  display: flex;
  gap: 32px;
}
.cart__info {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 276px;
}
.cart__title {
  color: rgb(0, 0, 0);
  font-family: inherit;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: left;
}
.cart__description {
  color: rgb(136, 136, 136);
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
}
.cart__price {
  color: rgb(5, 5, 5);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
}
.cart__link {
  color: rgb(0, 0, 0);
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 210%;
  letter-spacing: 0px;
  text-align: left;
  text-decoration-line: underline;
}
.cart__link-box {
  display: flex;
  gap: 30px;
}
.cart__input {
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
  line-height: 210%;
  border: 1px solid rgb(247, 246, 246);
  border-radius: 6px;
  border-color: rgb(247, 246, 246);
  background: rgb(247, 246, 246);
  width: 50px;
  height: 51px;
  padding-left: 21px;
}
.cart__form {
  border-radius: 20px;
  background: rgb(247, 246, 246);
  height: 556px;
  grid-column: span 4;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.cart__content {
  grid-column: span 8;
  min-width: 786px;
}
.cart__name-box {
  display: flex;
  justify-content: space-between;
  padding-bottom: 14px;
}
.cart__button {
  display: flex;
  gap: 7px;
  margin-top: 18px;
}
.cart__total-price {
  color: rgb(0, 0, 0);
  font-family: inherit;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: center;
  padding-top: 64px;
}

.cart__button-1 {
  width: 200px;
  height: 37px;
  box-sizing: border-box;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50px;
  background-color: #fff;
  font-family: inherit;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  transition: 1s;
}
.cart__button-1:hover {
  background-color: #000;
  color: #FFFFFF;
}

.cart__button-1_catalog {
  padding-top: 10px;
  text-decoration: none;
  color: black;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50px;
  display: flex;
  justify-content: space-around;
}
.cart__button-1_catalog:hover {
  background-color: #000;
  color: #FFFFFF;
}

.cart__button-1_order {
  width: 290px;
  height: 41px;
  border-radius: 20px;
  font-size: 16px;
  line-height: 20px;
  padding-top: 10px;
  text-decoration: none;
  color: black;
  margin-top: 18px;
}
.cart__button-1_order:hover {
  background-color: #000;
  color: #FFFFFF;
}

.cart__form__heading {
  display: flex;
  justify-content: center;
  color: rgb(0, 0, 0);
  font-family: inherit;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: center;
  padding-top: 42px;
}

.cart-form {
  display: flex;
  flex-direction: column;
  width: 288px;
}
.cart-form__input {
  font-family: inherit;
  font-size: 14px;
  color: #000;
  font-weight: 400;
  line-height: 17px;
  border: none;
  border-bottom: 1px solid rgb(202, 205, 216);
  background-color: rgb(247, 246, 246);
}
.cart-form__input:focus {
  outline: none;
}
.cart-form__input_1 {
  padding-top: 35px;
}
.cart-form__input_2 {
  padding-top: 44px;
}
.cart-form__input_3 {
  padding-top: 44px;
}

.product-content__bag {
  display: flex;
  position: relative;
}
.product-content__img {
  position: absolute;
  width: 20px;
  height: 18px;
}
.product-content__img_vector {
  left: 303px;
  padding-top: 11px;
}
.product-content__img_like {
  left: 347px;
  padding-top: 13px;
}/*# sourceMappingURL=cart.css.map */